.main{
    margin-top: 8%;
    font-family: "Inconsolata",sans-serif;
}

section{
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

.header{
    display: flex;
    align-items: center;
}

.home{
    margin-left: 1.6rem;
    color: #009a9a;
}

.links{
    margin-right: 30px;
}

.links a{
    text-decoration: none;
    color: black;
}

h1{
    font-size:2.6rem;
    font-weight: bold;
}

h4{
    margin-bottom: 0%;
}

.name{
    -webkit-animation: colorchange 20s infinite alternate;
}
@-webkit-keyframes colorchange {
    0% {
      color: #367588;
    }
    10% {
      color: #8e44ad;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: #d35400;
    }
    40% {
      color: #ffa500;
    }
    50% {
      color: #34495e;
    }
    60% {
      color: #2E8B57;
    }
    70% {
      color: #2980b9;
    }
    80% {
      color: #f1c40f;
    }
    90% {
      color: #2980b9;
    }
    100% {
      color: #9370DB;
    }
}

.about{
    font-size: 1.125rem;
    line-height: 1.75rem;
}

pre{
    background-color: #F3F3F3;
    padding: 10px 30px 10px;
    border-radius: 25px;
}

summary{
    font-size: 1.5rem;
    font-weight: bold;
}

code{
    font-size: 17px;
}

span a{
    text-decoration: none;
    color: #00AB66;
}

.decoration{
    --link-color: #009a9a;
    border-bottom: 2px dotted var(--link-color);
    color: var(--link-color);
    text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul > li:before {
  content: "-";
  font-size: 1.125rem;
    line-height: 1.75rem;
}

li span{
    font-weight: bold;
}

.projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project{
    padding: 1% 2% 1%;
    border-width: 2px;
    border-radius: 15px;
    border-color: #ebebeb;
    border-style: solid;
    width: 40%;
    margin: 0.5% 1% 0.5%;
    text-decoration: none;
    cursor: pointer;
    transition: border-color 1s;
}

@media (max-width: 700px){
    .project{
        width: 80%;
        height: 150px;
        margin-bottom: 3%;
    }
}

.project p{
    margin-top: 6px;
    color: black;
    transition: color;
}

.project h4{
    color: black;
    transition: color;
}

.wanderlust{
    margin: 1% 8% 1%;
    transition: transform 1s ease;
}

@media (max-width: 700px){
    .wanderlust{
        width: 82%;  
    }
}

.wanderlust:hover{
    transform: scale(1.05);
}

.git{
    background-color: #f6f8fa;
    overflow-y: auto;
    display: inline-block;
    margin: 0 0 5px 0;
    padding: 10px;
}

.git svg:hover{
    transform: scale(1.25);
}

.minesweeper{
    margin: 1% 6% 1%;
    transition: transform 1s ease;
}

.minesweeper:hover{
    transform: scale(1.05);
}

@media (max-width: 800px){
    .loss{
        width: 100%;  
    }
}

.footer{
    font-family: "Grechen Fuemen", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-align: center;
}
